body{
    background-color: white;
    background-size:contain;
    background-position: 50% center;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat repeat-y;
    
}
@keyframes slide {
    70% {
      transform: translate3d(20px, 10px, 20px);
    }
    30% {
      transform: translate3d(20px, 10px, 20px); /* The image width */
    }
  }
  @keyframes valentine {
    25% {
      transform: translate3d(-20px, 0, 200px);
      background: linear-gradient(90deg, blue,orange,tomato);
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      transform:rotate(5deg)scaleY(.5);
    }
    50% {
      transform: translate3d(100px, -39px, -200px) scale(.8); /* The image width */
      background: linear-gradient(90deg, navy,crimson);
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75%{
        transform: scaleZ(.5) rotate(-25deg) rotateZ(27deg);
        background: linear-gradient(90deg, blue,orange,tomato);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
.head{
    background-image: url(../contact_bg.jpg);
    background-color: gainsboro;
    border-radius: 1%;
    width: inherit;
    background-repeat: no-repeat;
    object-position: center;
    margin-top: 0;
    position: relative;
    float:left;
    margin-top: -2%;
    margin-left: 30%;
}
.head_sub{

    display: flex;
    padding: 2%;
    border-radius: 5%;
    //background-image: url(../contact_bg.jpg);
}

.head_sub h1{
    padding-top:2%;
    padding-left:1%;
    background: linear-gradient(0deg, rgba(0, 255, 255, 0.626),black,orange,black,goldenrod,black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    background-position: 50% -50%;
    font-size: 28px;
    font-family:Franklin Gothic;
}
.head_sub img{
    padding: 1%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.6;
}
.head_sub img:hover{
    transform: scale(1.3);
}
button{
    background-color: rgba(6, 105, 6, 0.975);
    color: goldenrod;
    border-radius: 10%;
    text-transform:uppercase;
    cursor:pointer;
    padding: 5%;
    justify-content: center;
    align-items: center;
    bottom: 0;
    float:bottom;
}
button:hover{
    background-color: rgb(77, 120, 66);
    border: 4px goldenrod solid;
}
.top{
    float: right;
    position: fixed;
    display: block;
    cursor: pointer;
    text-align: left;
    color: black;
    margin-top: 10%;
}
.top a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 0;
    margin-top: -17%;
    border-bottom-right-radius: 5%;
}
.top a:hover{
    text-decoration: overline underline;
    color: white;
}
.nav a{
    text-decoration: none;
    color:blue;
    display: block;
    z-index: 1;
    margin-top: 3%;
    display: block;
    margin-top: 12%;
}
.nav-content a:hover{
    background: linear-gradient(black,orange, goldenrod,yellow);
    text-decoration: underline;
    z-index: 1;
}
.nav{
    background-color:goldenrod;
    text-decoration: bold;
    list-style:none;
    padding: 7px;
    z-index: 1;
    color: white;
}
.nav a:after{
    display:none;
}
.intro{
    //clear: right;
    margin-top: 2%;
    background: gainsboro;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(155px, 0.5fr));
    grid-template-rows:(auto-fit,minmax(120px, 1fr));
    //flex-direction: column;
    padding: 1%;
    padding-top: 6%;
    align-content: left;
    background-size: cover;
    width:auto;
    border-radius: 3%;
}
.intro img{
    animation: slide 7s linear infinite;
    min-height: 200px;
    width:160px;
    max-height: 300px;
    padding-bottom: 10%;
    border-radius: 50%;
    z-index: 0;
    padding-left: 3%;
    border: 10px solid green;
}
.offers{
    background-image: url(bg2.jpg);
    background-color:rgb(10, 184, 233);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(160, 119, 7);
    border-radius:4%;
    padding: 5%;
    width: auto;
    display:float;
    float:left;
    clear:right;
    margin: 5%;
    margin-top: 8%;
    margin-left: 24% auto;
    margin-right: 84% auto;
    list-style:active;
}
.offers h4{
    background: linear-gradient(60deg,blue,goldenrod,crimson);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: overline underline;
    font-size: 29px;
    //color: rgb(244, 51, 51);
    border-radius: 2%;
    padding: 1%;
    width:auto;
    animation: valentine 5s linear infinite;
    animation-delay: 5s;
    animation-timing-function:cubic-bezier(0.5, 1, 1, 0.71);
    animation-fill-mode: backwards;
    margin-right: 30%;
}
.offers span{
    font-family:cursive;
    font-weight:bolder;
        
}
.offers strong span{
    font-size:42px;
}
.nav-content{
    background: yellowgreen;
    display: none;
    overflow-x: wrap;
    overflow-y: scroll;
    height: 250px;
    width: 100%;
}
.nav:hover .nav-content{
    display: block;
}
.airforce{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(155px, 0.5fr));
    grid-template-rows:(auto-fit,minmax(180px, 1fr));
    margin-top:5%;
}
.airforce div{
    border:3px solid goldenrod;
    border-radius: 5%;
    padding: -5%;
    margin-left: 5%;
    margin-top: 3%;
    object-position: center;
    display: flex;
    flex-direction: column;
}
.images img{
    width: 155px;
    height:180px;
    object-fit:fill;
    align-items: left;
    padding:15px;
    padding-left: 0;
    transition: all 300ms ease-out;
    cursor:zoom-in;
}
.images  img:hover{
    transition: all 300ms ease-in;
    transform: scale(1.5);
    object-fit: fill;
    border-radius: 20%;
}
.img::after{
    transform: scale(2.3);
}
.Air_max div{
    margin-left: 5%;
    margin-top: 3%;
    border:3px solid goldenrod;
    border-radius: 5%;
    padding: -5%;
    object-position: center;
    display: flex;
    flex-direction: column;
}
.Air_max{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px, 1fr));
    grid-template-rows:(auto-fit,minmax(100px, 1fr));
      
}
.Men div{
    margin-left: 5%;
    margin-top: 3%;
    border:3px solid goldenrod;
    border-radius: 5%;
    padding: -5%;
    object-position: center;
    display: flex;
    flex-direction: column;
}
.Men{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px, 1fr));
    grid-template-rows:(auto-fit,minmax(100px, 1fr));
      
}
.amc div{
    margin-left: 5%;
    margin-top: 3%;
    border:3px solid goldenrod;
    border-radius: 5%;
    padding: -5%;
    object-position: center;
    display: flex;
    flex-direction: column;
}
.amc{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px, 1fr));
    grid-template-rows:(auto-fit,minmax(100px, 1fr));
}  
.converse div{
    margin-left: 5%;
    margin-top: 3%;
    border:3px solid goldenrod;
    border-radius: 5%;
    padding: -5%;
    object-position: center;
    display: flex;
    flex-direction: column;
}
.converse{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px, 1fr));
    grid-template-rows:(auto-fit,minmax(100px, 1fr));
      
}
.converse h3{
    display: list-item;
    background: url("/bg3.jpg");
    height: auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    clear:both;
}
.lv_slides div{
    margin-left: 5%;
    margin-top: 3%;
    border:3px solid goldenrod;
    border-radius: 5%;
    padding: -5%;
    object-position: center;
    display: flex;
    flex-direction: column;
}
.lv_slides{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px, 1fr));
    grid-template-rows:(auto-fit,minmax(100px, 1fr));
      
}
.lv_slides h3{
    display: list-item;
    background: url("/bg3.jpg");
    height: auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    clear:both;
}
.ladies div{
    margin-left: 5%;
    margin-top: 3%;
    border:3px solid goldenrod;
    border-radius: 5%;
    padding: -5%;
    object-position: center;
    display: flex;
    flex-direction: column;
}
.ladies{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px, 1fr));
    grid-template-rows:(auto-fit,minmax(100px, 1fr));
      
}
.general div{
    margin-left: 5%;
    margin-top: 3%;
    border:3px solid goldenrod;
    border-radius: 5%;
    padding: -5%;
    object-position: center;
    display: flex;
    flex-direction: column;
}
.general{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px, 1fr));
    grid-template-rows:(auto-fit,minmax(100px, 1fr));
      
}
.general h3{
    display: list-item;
    background: url("/bg3.jpg");
    height: auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    clear:both;
}


//footer{
    padding:2%;
    height: auto;
    color: green;
    padding-left: 2%;
    position: relative;
    width:90%;
    height:auto;
}

.contact{
    list-style: none;
    color: red;
    float: left;
    padding: 2%;
    background: black;
    margin-top: 3%;
}

.contact a{
    list-style: none;
    color:blue;
    text-decoration: none;
    padding:2%;
}
.comment{
    color: blue;
    background-color:white;
    padding:2%;
    margin: 3%;
    float:left;
}
textarea{
    color:darkslategray;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 3%;
    resize: none;
    width: 94%;
}
.comment button{
    background-color: black;
    color: aliceblue;
    padding: 2%;
    border-radius: 0;
}
.comment input{
    width: 90%
}

.end{
    background-image: linear-gradient(60deg, yellow, orange,goldenrod);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: overline;
    color:yellow;
    float: right;
    margin-right: 1%;
    padding: 2%;
}
.inquiries{
    width:auto;
    background-color: black;
    float:left;
    margin-left: 2%;
    margin-top: 3%;
    color:white;
    padding:3%;
    border-radius: 2%;
}
.inquiries h3{
    color:red;
    text-decoration: underline;
}